body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

/* header */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

  position: fixed;
  top: 0;
  left: 0;
  height: 69px;
  width: 100%;
  background-color: inherit;
  border-bottom: 1px solid seashell;
}

.header .logo {
  display: flex;
  align-items: center;
}

.header img {
  height: 50px;
  margin-left: 10px;
}

.header .menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-width: 400px;
}

.header a {
  margin: 0 10px;

  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

/* main */

.main {

}

/* footer */

.footer {

}

.footer .copyright {
  text-align: left;
  margin-left: 20px;
}
