body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* header */

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 1;

  position: fixed;
  top: 0;
  left: 0;
  height: 69px;
  width: 100%;
  background-color: inherit;
  border-bottom: 1px solid seashell;
}

.header .logo {
  display: flex;
  align-items: center;
}

.header img {
  height: 50px;
  margin-left: 10px;
}

.header .menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  min-width: 400px;
}

.header a {
  margin: 0 10px;

  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
}

/* main */

.main {
  position: relative;
  top: 70px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* mission */

.mission {
  width: 1200px;
}

.missionimage {
  display: flex;
  background-image: url(../images/img-mission-background.jpg);
  width: inherit;
  height: 700px;
}

.statement {
  align-self: center;
  text-align: center;
  width: inherit;
  background-color: black;
}

/* tea of month */


/* locations */

.locations {
  width: 1200px;
  height: 500px;
  background-image: url(../images/img-locations-background.jpg);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.locations .container {
  display: flex;
  flex-direction: row;
}

.locations .downtown,
.locations .eastbayside,
.locations .oakdale {
  width: 300px;
  height: auto;
  margin: 15px 20px 0 20px;
  background-color: black;
  opacity: 1;
}

/* footer */

.footer {
  position: relative;
  top: 70px;
}

.footer .copyright {
  text-align: left;
  margin-left: 20px;
}
